<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
  <div class="body flex justify-center items-center bg-zinc-900 text-white min-h-screen">
    <div class="page1 flex flex-col justify-center items-center h-full w-full">
      <h1 class="text-3xl font-bold mb-6">Welcome To my backend project</h1>
      <div class="flex justify-center gap-3">
        <a href="/signup" class="px-3 py-2 text-white bg-blue-500 rounded-md">Sign Up</a>
        <a href="/login" class="px-3 py-2 text-white bg-blue-500 rounded-md">Login</a>
      </div>
    </div>
  </div>
</body>
</html>